@import "colors";

#app-container {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
	color: $color-grey-darker;
	> div {
		flex: 1 0 auto;
	}
}
header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2em;
}
main {
	transition: opacity 200ms ease;
	&.hidden {
		opacity: 0;
	}
}
footer {
	flex-shrink: 0;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	padding: 2em;
}
.auth-link {
	&-container {
		display: flex;
		justify-content: center;
	}
}
.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#landing-page {
	&-container{
		display: flex;
		justify-content: center;
		margin: 4em;
	}
	&-text {
		display: block;
		font-size: 2em;
		font-weight: 300;
		line-height: 150%;
	}
	&-login {
		padding: 1em;
		background: $color-green;
		color: white;
		border-radius: 0.5em;
		border: none;
		outline: none;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
		-webkit-appearance: none !important;
		&-container {
			display: flex;
			justify-content: center;
			margin: 2em 0;
		}
		&:hover {
			cursor: pointer;
		}
		&:active {
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		}
	}
}
#user-app {
	margin-top: 4em;
}
#spotify-seeds {
	margin-bottom: 2em;
	position: relative;
	> div:first-child > span {
		display: block;
		margin-bottom: 0.5em;
		font-size: 2em;
		font-weight: 700;
	}
	> div {
		flex: 0 0 20em;
		> div {
			padding-right: 2em;
		}
	}
	input[type=text] {
		width: 100%;
		height: 2em;
		margin-bottom: 0.5em;
		border: none;
		font-size: 1.2em;
		&:focus {
			outline: none;
		}
		&::placeholder {
			color: $color-grey-light;
			font-weight: 300;
		}
	}
	label {
		margin: 0 1em 0 0.5em;
	}
	.search-results {
		position: absolute;
		z-index: 10;
		top: 6em;
		width: 18em;
		margin: 0 -1em;
		background: white;
		list-style: none;
		padding-left: 1em;
		li {
			padding: 1em 0;
			&.selected {
				color: $color-green;
			}
			&:hover {
				cursor: pointer;
				color: $color-green;
			}
		}
	}
	.selected-items {
		> span {
			font-size: 1.2em;
			font-weight: 700;
		}
		> ul {
			list-style: none;
			margin: 0.2em 0 0.6em 0;
			padding-left: 0;
			> li {
				padding: 0.5em 0;
				&:hover {
					cursor: pointer;
					color: #ED1F32;
					text-decoration: line-through;
				}
			}
		}
	}
}
#tuning-seeds {
	> div {
		flex: 0 0 20em;
		> div {
			padding: 1em 4em 1em 0;
		}
	}
}
.rc-slider {
	&-name {
		display: block;
		margin-bottom: 0.5em;
		font-weight: 700;
		font-size: 1.2em;
	}
	&-descriptors {
		display: flex;
		justify-content: space-between;
	}
	>.rc-slider-rail {
		background-color: $color-grey-light;
	}
	>.rc-slider-track {
		background-color: $color-green;
	}
	>.rc-slider-handle {
		background-color: $color-green;
		border: none;
		&:active {
			box-shadow: none;
		}
	}
	&.disabled {
		>.rc-slider-track {
			background-color: $color-grey-light;
		}
		>.rc-slider-handle {
			background-color: $color-grey-dark;
			border: none;
		}
	}
}
.main-button {
	padding: 1em;
	background: $color-green;
	color: white;
	border-radius: 0.5em;
	border: none;
	outline: none;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-appearance: none !important;
	&-container{
		margin: 2em auto;
		display: flex;
		justify-content: center
	}
	&:hover {
		cursor: pointer;
	}
	&:active {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	&:disabled {
		cursor: not-allowed;
	}
}